@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --primary: #a84fff;
  --secondary: #d8135b;
  --dark: #131a26;
  --light: #eee;
  --grey: #888;

  --font: "Montserrat", sans-serif;
  --font-quote: "Montserrat", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: #131a26;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #f9a3a4, #f8c291, #6e4e8f);
  background-size: 200% 200%;
  animation: gradientAnimation 30s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.topic {
  position: relative;
}

blockquote {
  margin: auto;
  font-family: var(--font-quote);
  max-width: 70%;
  /* max-width: 720px; */
  background-color: var(--dark);
  padding: 3rem;
  border-radius: 1.5rem;
  color: var(--light);
}

blockquote h1 {
  font-size: 2rem;
  font-weight: 700;
}

blockquote p {
  font-size: 1.5rem;
  padding-top: 5%;
}

.categoryButton,
.scriptButton {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  border-radius: 1.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categoryButton {
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%, 50%);
  transition: 0.4s;
  cursor: pointer;
}

.scriptButton {
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--primary);
  font-weight: 700;
  transform: translate(25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  cursor: pointer;
}

.NewTopicButton {
  z-index: 1;
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--primary);
  color: var(--light);
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  margin-top: 64px;
  margin-bottom: 64px;
  transition: 0.4s;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.categoryButton:hover {
  background-color: var(--primary);
}

@media (max-width: 768px) {
  blockquote {
    padding: 0;
  }

  blockquote h1 {
    margin: auto;
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }

  blockquote p {
    font-size: 1rem;
    /* padding: 2rem 1rem 1rem 1rem; */
  }

  .categoryButton,
  .scriptButton {
    font-size: 1.2rem;
  }

  .NewTopicButton {
    font-size: 1.2rem;
  }

  .script p {
    font-size: 0.8rem;
    padding-top: 10px;
  }
}
